.app-wrapper {
  display: grid;
  width: 1600px;
  margin: 0 auto;
  grid-template-areas:
"l h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}

.app-wrapper-menu{
  grid-area: n;
  background-color: linen;
}

.app-wrapper-content {
  grid-area: c;
  background-color: linen;

}